.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    max-width: 1270px;
}

.thLeft{
    background-color: #C5E8FC !important;
    border-top-left-radius: 10px !important; 
    font-family: 'Raleway', sans-serif;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
}

.thRight{
    background-color: #C5E8FC !important;
    border-top-right-radius: 10px !important; 
    font-family: 'Raleway', sans-serif;

}

.thTable{
    background-color: #C5E8FC !important; 
    font-family: 'Raleway', sans-serif;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Agrega una sombra */

}

.tdTableRow
{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;

}

.h3Table{
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-top: 24px;

}

.center-table {
    display: flexbox;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    text-align: center;
    border-radius: 15px;

}

.center-table-form {
    display: inline-table;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    text-align: center;
    height: 300px;
    width: 400px;
    margin: 16px;
}

.inputForm{

    border-top-right-radius: 10px !important; 
    font-family: 'Raleway', sans-serif;
}

.containerButtons {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-left: 4.5%;
  margin-right: 4.5%;
  margin-top: 24px;
}

/* Estilo para el botón "Generar Reporte" */
.btn-generate {
  order: 1; /* Ordenar el botón "Generar Reporte" al principio */
}

/* Estilo para el botón "Enviar" */
.btn-send {
  order: 2; /* Ordenar el botón "Enviar" después del botón "Generar Reporte" */
}

  
  
.addButton
{
    background-color: #007BB8;
    color: #ffffff;
    border-radius: 10px !important; 
    font-family: 'Raleway', sans-serif;
}

.showButton
{
    background-color: #6fc287;
    color: #ffffff;
    border-radius: 15px !important; 
    font-family: 'Raleway', sans-serif;
}

/* Define un fondo con un gradiente lineal */
.background-gradient {
    background-image: linear-gradient(to bottom, #C5E8FC, #C5E8FC); /* Color de fondo */
    background-repeat: no-repeat;
    background-size: 100% 16px; /* Ancho del borde inferior y altura (ajusta según tus necesidades) */
    background-position: 0 100%; /* Coloca el gradiente en la parte inferior */
  }
  