/* Import fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Raleway:wght@400;600&display=swap");

/* General styles */





.CustomNavbar{
  background-color: #39a900 !important;
  flex-direction: column;
  top:5rem;
  position:fixed; 
  z-index:2;
  align-items: center;
  justify-content: flex-start;
  height: 100%
}

@media only screen and (max-width: 600px) {

  .CustomNavbar{
    height: 60% !important
  }

  html {
    width: 100%;
    max-width: 799px;
    background-color: #f3f1f1;
  }


}


.content {
  transition: all 0.3s; /* Agrega una transición suave para el efecto de opacidad */
}

.sidebar-open .content {
  opacity: 100; /* Cambia la opacidad cuando el sidebar está abierto */
  pointer-events: none; /* Evita la interacción con el contenido subyacente */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif; /* Use Lato font as the default font */
  font-family: "Raleway", sans-serif; /* Use Raleway font as the second option */
  margin: 0;
  padding: 0;
}

/* Define un fondo con un gradiente lineal */
.background-gradient {
  background-image: linear-gradient(
    to bottom,
    #c5e8fc,
    #c5e8fc
  ); /* Color de fondo */
  background-repeat: no-repeat;
  background-size: 100% 16px; /* Ancho del borde inferior y altura (ajusta según tus necesidades) */
  background-position: 0 100%; /* Coloca el gradiente en la parte inferior */
  border-radius: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}

/* Color variables */
$light: #ffffff;
$gray: #e7e9eb;
$blue: #0000ff;

.oscar-text {
  color: rgb(255, 255, 255);
  font-size: 17px;
  margin-top: 40rem !important;
}

/* Custom styling for navigation button */
/* Custom styling for navigation button */
#basic-nav-dropdown::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  border-top: 8px solid #ffffff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  margin-left: 5px;
  margin-right: 40px;
  border-width: 10px 6px;
  overflow: visible;
}

/* Style for the user name inside the dropdown */
#basic-nav-dropdown .nav-link {
  color: $light !important;
}

/* Custom styling for a logo image */
.sena-title {
  font-size: 25px;
  color: #ffffff;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta cualquier contenido desbordado */
  text-overflow: ellipsis; /* Añade puntos suspensivos (...) si el texto se desborda */
  margin-left: 1rem;
  margin-top: 1rem;
}

.custom-logo {
  width: 9rem;
  height: 6rem; /* Ajusta la altura automáticamente según el ancho */
  max-width: 100%; /* Evita que la imagen sea más ancha que su contenedor */
}

.navbar-container {
  width: 100vw;
  min-width: 100%;
}

/* Sidebar */
/* Estilos para la barra lateral */

@media (min-width: 800px) {
  html {
    width: 100%;
    height: 100%;
    min-width: auto;
    background-color: #f3f1f1;
  }

  /* Top navigation bar */
  #navbar {

    background-color: #39a900 !important;
    padding: 1rem 2rem;
    border-bottom: 1px solid #aca7a7;
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 5rem;
  }
  /* Contenedor principal */
  .container {
    overflow-x:auto; /* Habilita el desplazamiento horizontal */
    background-color: #f3f1f1;
    display: flex;
    flex-wrap: wrap;
    width: 100% !important; /* Full width en pantallas más pequeñas */
    min-width: 1100px;
    z-index: 1;
  }

  /* Main content */
  .content {
    position: sticky;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    min-height: 61rem;
    top: 0;
    z-index: 1;
    width: 100%; /* Cambia min-width a width */
    min-width: 1100px;
    margin-left: 7%; /* Ajustar según el ancho de la barra lateral */
    padding-left: 2rem; /* Agregar un margen izquierdo para el contenido */
    margin-right: 2rem;
  }

  .CustomNavbar{
    margin-top: 4.8rem;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
    color: rgba(255, 255, 255, 0.95);
    max-width: 900px;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-left: 25%;
  }

  .main-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    margin: 2vh 0;
    min-width: 1250px;
    margin-left: 1rem;
    margin-top: 3.5rem;
  }
}

@media (max-width: 800px) {

  
  /* Top navigation bar */
  #navbar {
    background-color: #39a900 !important;
    padding: 1rem 2rem;
    border-bottom: 1px solid #aca7a7;
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;
    min-width: 1250px !important;
    height: 5rem;
  }
  /* Contenedor principal */
  .container {
    display: flex;
    flex-wrap: wrap;
    width: 100% !important; /* Full width en pantallas más pequeñas */
    z-index: 1;
    min-width: 500px;
    background-color: #f3f1f1;
  }

  /* Main content */
  .content {
    position: sticky;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    min-height: 61rem;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%; /* Cambia min-width a width */
    min-width: 1100px;
    max-width: 1100px;
    margin-left: 6rem; /* Agregar un margen izquierdo para el contenido */
    margin-right: 1.3rem; /* Agregar un margen izquierdo para el contenido */
    background-color: #f3f1f1;
  }

  .CustomNavbar{
    margin-top: 3.7rem;
  }

  .main-container {
    display: flex;
    position: sticky;
    flex-wrap: wrap;
    color: rgba(255, 255, 255, 0.95);
    margin-left: 7%; /* En lugar de valores fijos, utiliza porcentajes */
    padding-bottom: 10%; /* En lugar de valores fijos, utiliza porcentajes */
    margin-top: 4rem;
    min-width: 1100px;
    width: 100%;
  }

  .main-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    margin: 2vh 0;
    margin-top: 3.5rem;

  }
  
}

/* Table Instructors and report styles */
.thLeft {
  background-color: #c5e8fc !important;
  border-top-left-radius: 10px !important;
  font-family: "Raleway", sans-serif;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
}

.thRight {
  background-color: #c5e8fc !important;
  border-top-right-radius: 10px !important;
  font-family: "Raleway", sans-serif;
}

.thTable {
  background-color: #c5e8fc !important;
  font-family: "Raleway", sans-serif;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
}

.tdTableRow {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  min-width: 115px;
}

.h3Table {
  flex-grow: 1;
  flex-basis: 200; /* Stack elements vertically on smaller screens */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #000;
  margin-bottom: 2rem;
  margin-top: 2.5rem;
  font-weight: bold;
  font-size: 2.5rem;
}

.center-table {
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 60rem; /* Ajusta la altura según tu diseño */
  text-align: center;
}

.center-table-form {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  text-align: center;
  margin: 16px;
}

.card-form {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  text-align: center;
  height: 22rem;
  width: 32rem;
  margin-top: 4rem;
  padding: 2rem;

}

.containerButtons {
  margin-top: 1.2rem;
  margin-bottom: 2rem;
}

/////////////////////////// SEARCHBARS ///////////////////////////////////

input[type="text"],
input[type="date"],
input[type="email"],


textarea, .select-net{
  border: thin solid #dedede;
  border-radius: 5vh;
  padding: 2vh;
  margin-bottom: 1vh;
  outline: none;
  display: flex;
  width: 100%;
  background-color: transparent;
  
}



.searchBarContractName {
  position: relative;
  width: 294px;
  height: 45px;
  background-color: #ffffff !important;
  border-radius: 60px;
  transition: 0.5s;
  box-shadow: 0 0 0 2px #2573ef;
  margin-bottom: 15px;
  margin-top: 15px;
}

.searchBarContractName .iconSearch {
  position: absolute;
  top: 5%;
  width: 60px;
  height: 40px;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
}

.searchBarContractName .iconSearch::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid #287dfc;
  border-radius: 50%;
  transform: translate(-2px, -2px);
}

.searchBarContractName .iconSearch::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 7px;
  background-color: #287dfc;
  transform: translate(6px, 6px) rotate(320deg);
}

.searchBarContractName .inputSearch {
  width: 300px;
  height: 60px;
  left: 60px;
}

.searchBarContractName .inputSearch input {
  position: absolute;
  top: 0;
  left: 20%;
  width: 100%;
  height: 100%;
  border: none;
  outline: navajowhite;
}

// Styles for search network

.searchBarContractNetwork {
  position: relative;
  width: 294px;
  height: 45px;
  background-color: #ffffff !important;
  border-radius: 60px;
  transition: 0.5s;
  box-shadow: 0 0 0 2px #2573ef;
  margin-bottom: 15px;
  left: 10%;
  margin-top: 15px;
}

.searchBarContractNetwork .iconSearch {
  position: absolute;
  top: 5%;
  width: 60px;
  height: 40px;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
}

.searchBarContractNetwork .iconSearch::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid #287dfc;
  border-radius: 50%;
  transform: translate(-2px, -2px);
}

.searchBarContractNetwork .iconSearch::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 7px;
  background-color: #287dfc;
  transform: translate(6px, 6px) rotate(320deg);
}

.searchBarContractNetwork .inputSearch {
  width: 300px;
  height: 60px;
  left: 60px;
}

.searchBarContractNetwork .inputSearch input {
  position: absolute;
  top: 0;
  left: 20%;
  width: 100%;
  height: 100%;
  border: none;
  outline: navajowhite;
}

.searchBarFTIName {
  position: relative;
  width: 294px;
  height: 45px;
  background-color: #ffffff !important;
  border-radius: 60px;
  transition: 0.5s;
  box-shadow: 0 0 0 2px #2573ef;
  margin-bottom: 15px;
  left: 20%;
  margin-top: 15px;
}

.searchBarFTIName .iconSearch {
  position: absolute;
  top: 5%;
  width: 60px;
  height: 40px;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
}

.searchBarFTIName .iconSearch::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid #287dfc;
  border-radius: 50%;
  transform: translate(-2px, -2px);
}

.searchBarFTIName .iconSearch::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 7px;
  background-color: #287dfc;
  transform: translate(6px, 6px) rotate(320deg);
}

.searchBarFTIName .inputSearch {
  width: 300px;
  height: 60px;
  left: 60px;
}

.searchBarFTIName .inputSearch input {
  position: absolute;
  top: 0;
  left: 20%;
  width: 100%;
  height: 100%;
  border: none;
  outline: navajowhite;
}

// Styles for SearchNetwork

.searchBarFTINetwork {
  position: relative;
  width: 255px;
  height: 45px;
  background-color: #ffffff !important;
  border-radius: 60px;
  transition: 0.5s;
  box-shadow: 0 0 0 2px #2573ef;
  margin-bottom: 15px;
  left: 20%;
  margin-top: 15px;
}

.searchBarFTINetwork .iconSearch {
  position: absolute;
  top: 5%;
  width: 60px;
  height: 40px;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
}

.searchBarFTINetwork .iconSearch::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid #287dfc;
  border-radius: 50%;
  transform: translate(-2px, -2px);
}

.searchBarFTINetwork .iconSearch::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 7px;
  background-color: #287dfc;
  transform: translate(6px, 6px) rotate(320deg);
}

.searchBarFTINetwork .inputSearch {
  width: 100px;
  height: 60px;
  left: 60px;
}

.searchBarFTINetwork .inputSearch input {
  position: absolute;
  top: 0;
  left: 20%;
  width: 100%;
  height: 100%;
  border: none;
  outline: navajowhite;
}

.clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  right: 15px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 15px;
  background-color: #999;
  transform: rotate(45deg);
}

.clear::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 15px;
  background-color: #999;
  transform: rotate(315deg);
}

.addButton {
  background-color: #007bb8 !important;
  color: #ffffff !important;
  border-radius: 15px !important;
  font-family: "Raleway", sans-serif !important;
}

.showButton {
  background-color: #6fc287 !important;
  color: #ffffff !important;
  border-radius: 15px !important;
  font-family: "Raleway", sans-serif !important;
}

.btn-generate {
  margin-bottom: 2rem;
  order: 1; /* Ordenar el botón "Generar Reporte" al principio */
}

.background-gradient {
  background-image: linear-gradient(
    to bottom,
    #c5e8fc,
    #c5e8fc
  ); /* Color de fondo */
  background-repeat: no-repeat;
  background-size: 100% 16px; /* Ancho del borde inferior y altura (ajusta según tus necesidades) */
  background-position: 0 100%; /* Coloca el gradiente en la parte inferior */
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.label {
  display: flex;
  align-items: start;
  justify-content: start;
  justify-items: start;
  color: rgb(110, 110, 110);
}

/* Estilo de sombreado gris claro para la opción principal activa */
.main-option.active {
  background-color: #dcffe3; /* Puedes ajustar el color gris claro según tus preferencias */
  width: 222px;
  margin: 0;
  padding: 0;
  box-shadow: 1px 1px 0px 0px gray; /* Ajusta la sombra según sea necesario */
  height: 30px;
}

#home {
  font-size: 15px;
}





/* HOME TEST */

/* Main */
.main-container {
  grid-area: main;
  overflow-y: visible;
  padding: 1em 1em; /* Usando unidades 'em' */
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
  margin-right: 10em; /* Usando unidades 'em' */
  margin-top: -1em;
  color: black;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 1em; /* Usando unidades 'em' */
  margin: 0.75em 0; /* Usando unidades 'em' */
  
  
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5em 1em; /* Usando unidades 'em' */
  border-radius: 0.5em; /* Usando unidades 'em' */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3); 
}

.card:first-child {
  background-color: #fefec2;
}

.card:nth-child(2) {
  background-color: #efd6d1;
}

.card:nth-child(3) {
  background-color: #ffda9b;
}

.card:nth-child(4) {
  background-color: #caf3b6;
}

.card:nth-child(5) {
  background-color: #a7c7b4;
}

.card:nth-child(6) {
  background-color: #d9f5fa;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .card_icon {
  font-size: 1.25em; /* Usando unidades 'em' */
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em; /* Usando unidades 'em' */
  margin-top: 3em; /* Usando unidades 'em' */
  height: 15em; /* Usando unidades 'em' */
}


@media screen and (max-width: 1280px) and (max-height: 720px) {
  .main-cards {
    margin-left: 160px;
    margin-right: 13em;
  }

}

@media screen and (max-width: 1920px) {

  .main-cards {
        margin-right: 4em !important;
        margin-top: 1em;
  }

  
}



/* Medium <= 992px */
  
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

}
/* Small <= 768px */
  
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .main-title {
    
    margin-left: 20em !important; /* Usando unidades 'em' */

  }
  

}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {

}

////////////////////////////////////////////////// LOGIN STYLES ////////////////////////////////////////////////////////////////////////////////


@media (max-width: 800px)  {
html {
  width: 100%;
  max-width: 799px;
  background-color: #f3f1f1;
}

}


.underline-container{
  display: flex;
  justify-content: center;
}
.subtitle {
  color: rgb(218, 218, 218);
  text-align: center;
  font-size: 30px;
  margin-bottom: 2rem;
  color: #39a900;
  
}

.title {
  color: rgb(218, 218, 218);
  text-align: center;
  font-size: 32px;
  margin-bottom: 1rem;
  color: #39a900;
}

.eye-button
{
    position: relative;
    bottom: 60px;
    left: 428px;
    z-index: 1000;
    cursor: pointer;
}


.inputs_container {
  display: flex;
  flex-direction: column;
  
}

.inputs_container input {
  width: 95%;
  margin: 1.5rem auto;
  padding: 1rem;
  border-radius: 12px;
  font-size: 1rem;
  font-family: inherit;
  outline: 0;
  border: 0;
 
}

.inputLogin{
    background-color: #e9e9e9;
    
}
.login_button {
  display: block;
  margin: 3rem auto 1rem auto;
  width: 55%;
  padding: 0.75rem 1rem;
  border-radius: 12px;
  outline: 0;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
  background-color: #39a900;
  color: white;
  border: 2px solid transparent;
}

.login_button:hover {
  border: 2px solid #39a900;
  background-color: #000000		;
}

.link_container {
  display: flex;
  justify-content: center;
}


@media only screen and (max-width: 620px) {
  .inputs_container input {
    width: 100%;
 
  }

  .login_button {
    width: 100%;
    
  }

  .eye-button
{
    margin-top: 5px;
    left: 34.5vh;
    
    

}









}




@media only screen and (max-height: 670px) {

  
  
  .subtitle {
    margin-bottom: 2rem;
    
  }

  .small {
    margin-bottom: 3rem;
  }

  .login_button{
    margin-top: 0.2rem;
  }

  
}

.image-login-container{
  display: flex;
  justify-content: center;
  align-items: center;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.maincontainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: url("../public/img/background-login.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-width: 320px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  /* Añade una capa con opacidad verde */
  background-color: rgba(0, 128, 0, 0.288); /* Cambia los valores de 0, 128, 0 según tu preferencia de verde */
}

@media only screen and (max-width: 620px) {
  .maincontainer {
    
    height: 120%;
    
  }
}

@media screen and (max-height: 768px) {

  .form-login{
      margin-top: -3rem;
  }

  .subtitle{
    margin-top: -1rem;
  }

  .login_button{
    margin-top: 0.3rem;
  }

  .underline-container{
    margin-bottom: 1rem;
  }
}

@media screen and (max-height: 800px) {

  .title{
    font-size: 22px;
  }

  .subtitle{
    font-size: 20px;
  
  }

  .login_button{
    margin-top: 0.3rem;
  }

  .underline-container{
    margin-bottom: 1rem;
  }

  .inputs_container input {
    width: 95%;
    height: 44px;
  }

  .login_button{
   
    margin-top: -0.2rem;
    
  }

  .loginElements{
     margin-top: -2rem !important;
  }

  .form-login{
    margin-top: -2rem;
  }

 
}

