/* Import fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Raleway:wght@400;600&display=swap");

/* General styles */

* {
  margin: 0;
  padding: 0;
}

.flex{
  display:flex;
}



body {
  font-family: "Lato", sans-serif; /* Use Lato font as the default font */
  font-family: "Raleway", sans-serif; /* Use Raleway font as the second option */
  margin: 0;
  padding: 0;
}

.grid-container{
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: 
      'sidebar header header header'
      'sidebar main main main';
  height: 100vh;
}



/* Color variables */
$light: #ffffff;
$gray: #e7e9eb;
$blue: #0000ff;

/* Top navigation bar */
#navbar {
  background-color: #39A900 !important;
  padding: 1rem 2rem;
  border-bottom: 1px solid #aca7a7;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 90px;
}

.oscar-text {
  color: white;
  font-size: 18px;
}

/* Custom styling for navigation button */
/* Custom styling for navigation button */
#basic-nav-dropdown::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  border-top: 8px solid #000;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  margin-left: 5px;
  margin-right: 40px;
  border-width: 10px 6px;
  overflow: visible;
}

/* Style for the user name inside the dropdown */
#basic-nav-dropdown .nav-link {
  color: $light !important;
}

/* Custom styling for a logo image */
.sena-title {
  font-size: 25px;
  color: #ffffff;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta cualquier contenido desbordado */
  text-overflow: ellipsis; /* Añade puntos suspensivos (...) si el texto se desborda */
  margin-left: 1rem;
  margin-top: 1rem;
}

.custom-logo {
  width: 130px;
  height: auto; /* Ajusta la altura automáticamente según el ancho */
  max-width: 100%; /* Evita que la imagen sea más ancha que su contenedor */
}

.navbar-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Main content */
.content {
  background-color: #f3f1f1;
  background-size: 100%;
  min-height: 61rem;
}

/* Sidebar */
/* Estilos para la barra lateral */
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: $light !important;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-right: 1px solid #a7a7a7;
  position: fixed;
  z-index: 2;
  max-width: 14rem;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2); /* Añadir sombra al lado derecho */
}


/* Estilo de sombreado gris claro para la opción principal activa */
.main-option.active {
  background-color: #dcffe3; /* Puedes ajustar el color gris claro según tus preferencias */
  width: 214px;
  margin: 0;
  box-shadow: 1px 1px 0px 0px gray; /* Ajusta la sombra según sea necesario */
}

.main-option{
  width: 300px;
}

ul {
  list-style: none;
  padding: 1rem 1rem;
  position: sticky;
  top: 0;
  width: 20rem;
  margin-left: 3rem !important;
  margin-bottom: 4rem !important;

  li {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    margin-bottom: 0rem;
    width: 10rem;

    a {
      text-decoration: none;
      position: sticky;
      top: 0px;

      &.active {
        background-color: rgb(219, 255, 220);
        position: sticky;
        top: 0px;
      }

     
    }
  }
}

#home{
  font-size: 20px;
}
/* Global styles */
.html {
  box-sizing: border-box;
  font-size: 16px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
  width: 100%;
  height: 100%;
}

////////////////////////  LOGIN STYLES //////////////////////////////////

/* Styles for text and form inputs */
input[type="text"],
input[type="email"],
textarea {
  border: thin solid #dedede;
  border-radius: 0.25rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  outline: none;
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
}

textarea {
  font-family: inherit;
  resize: none;
}

/* Styles for buttons and submit/reset inputs */
button,
input[type="submit"],
input[type="reset"] {
  border: thin solid #9b9aff;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 0 0;
  display: inline-block;
  background-color: #eee;
  color: #444;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

/* Styling for the main container */
/* Styling for the main container */
#mainContainer {
  position: absolute;
  left: 60%; /* Centro horizontalmente */
  top: 50%; /* Centro verticalmente */
  transform: translate(-50%, -50%);
  padding: 2%; /* Utilizar unidades relativas */
  border-radius: 6%;
  max-height: 80vh; /* Usar viewport height en lugar de porcentaje */
  width: 23%; /* Utilizar unidades relativas */
  box-shadow: 0 2px 8px #000;
  border: 1px solid #ffffff40;
  background-color: #38a9009f;

  .filter {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(243, 243, 243, 0.2);
  }

  /* Styles for labels l1 and l2 */
  .l1 {
    color: #000000;
    font-weight: 500;
    font-size: 2rem; /* Utilizar unidades relativas */
  }

  .l2 {
    color: #000000;
    font-weight: 400;
    font-size: 1.1rem; /* Utilizar unidades relativas */
  }

  /* Styling for the login button */
  .login-button {
    border-radius: 1rem;
    background-color: rgba(251, 251, 226, 0.7);
    color: #000000;
    border: none;
    padding: 5% 10%; /* Utilizar unidades relativas */
    font-size: 18px;
    font-weight: 400;
  }

  /* Styling for rounded inputs */
  .rounded-input {
    border-radius: 1rem; /* Utilizar unidades relativas */
    background-color: white;
    padding: 5%; /* Utilizar unidades relativas */
    border: 1px solid #ccc;
    width: 90%;
    margin-left: 5%;
    /* Otros estilos según tus preferencias */
  }
}

/* Styling for the second container */
.secondContainer {
  text-align: center;
}

/* En App.scss o en un archivo separado (por ejemplo, Login.css) */
.login-container {
  background-image: url("../public/img/background-login.png"); /* Reemplaza 'fondo.jpg' con la URL de tu imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
  background-position: center; /* Centra la imagen de fondo horizontal y verticalmente */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; /* Ajusta la posición vertical hacia arriba */
  left: 0;
}

.logo-login {
  margin-top: 18%; /* Ajusta según tu preferencia */
  margin-left: 28%; /* Ajusta según tu preferencia */
  width: 80%; /* Utilizar unidades relativas */
  max-width: 200px; /* Máximo ancho para mantener proporciones */
  height: auto; /* Para mantener proporciones */
  .welcomeText {
    margin-left: 15%; /* Utilizar unidades relativas */
    font-size: 2rem; /* Utilizar unidades relativas */
    animation: bounce-bottom 1.5s linear both;
  }
  @keyframes bounce-bottom {
    0% {
      transform: translateY(45px);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      transform: translateY(24px);
      animation-timing-function: ease-in;
    }
    65% {
      transform: translateY(12px);
      animation-timing-function: ease-in;
    }
    82% {
      transform: translateY(6px);
      animation-timing-function: ease-in;
    }
    93% {
      transform: translateY(4px);
      animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0);
      animation-timing-function: ease-out;
      opacity: 1;
    }
  }

  .underLine {
    border: 1.5px solid rgb(0, 0, 0);
    width: 125%; /* Utilizar unidades relativas */
    margin-left: -10%; /* Ajusta según tu preferencia */
    color: rgba(0, 0, 0, 0);
  }
}

/* Estilo para el ícono del ojo */
.password-toggle {
  position: absolute;
  top: 52%;
  right: 5rem; /* Ajusta la posición del ícono a tu preferencia */
  transform: translateY(-50%);
  cursor: pointer;
  color: #000000; /* Cambia el color del ícono */
  font-size: 1rem; /* Ajusta el tamaño del ícono (más pequeño) */
  z-index: 1; /* Coloca el ícono por encima del campo de contraseña */
}


//Home css 

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
  margin-left: 30rem;
}

.H3{
  font-size: 10px;
}

.main-title {
  display: flex;
  justify-content: space-between;
  color: #000;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.card:first-child {
  background-color: #FEFEC2;
}

.card:nth-child(2) {
  background-color: #EFD6D1;
}

.card:nth-child(3) {
  background-color: #D9F5FA;
}

.card:nth-child(4) {
  background-color: #d50000;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .card_icon {
  font-size:20px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

/* End Main  */


/* Medium <= 992px */
  
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}
/* Small <= 768px */
  
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
}

/* Table Instructors and report styles */


.container {
  display: flex;
  flex-direction: column; /* Stack elements vertically on smaller screens */
  align-items: center;
  justify-content: center;
  margin-left: 20rem !important; /* Reduce left margin on smaller screens */
  margin-right: 2rem !important; /* Reduce right margin on smaller screens */
  width: 100% !important; /* Full width on smaller screens */
  position: relative;
  z-index: 1;
}

.thLeft {
  background-color: #c5e8fc !important;
  border-top-left-radius: 10px !important;
  font-family: "Raleway", sans-serif;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
}

.thRight {
  background-color: #c5e8fc !important;
  border-top-right-radius: 10px !important;
  font-family: "Raleway", sans-serif;
}

.thTable {
  background-color: #c5e8fc !important;
  font-family: "Raleway", sans-serif;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
}

.tdTableRow {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  min-width: 115px;
}

.h3Table {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin-bottom: 2rem;
  margin-top: 3rem;
  font-weight: bold;
  font-size: 2rem;
}

.center-table {
  display: inline-table;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 60vh; /* Ajusta la altura según tu diseño */
  text-align: center;

}

.center-table-form {
  display: inline-table;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  text-align: center;
  height: 300px;
  width: 400px;
  margin: 16px;
}

.card {
  margin-top: 4rem;
}

.containerButtons {
  display: flex !important;
  justify-content: space-between !important;
  text-align: center !important;
  margin-left: 4.5% !important;
  margin-right: 4.5% !important;
  margin-top: 24px !important;
}

.addButton {
  background-color: #007bb8 !important;
  color: #ffffff !important;
  border-radius: 15px !important;
  font-family: "Raleway", sans-serif !important;
  margin-left: 18rem;
}

.showButton {
  background-color: #6fc287 !important;
  color: #ffffff !important;
  border-radius: 15px !important;
  font-family: "Raleway", sans-serif !important;
}

.btn-generate {
  order: 1; /* Ordenar el botón "Generar Reporte" al principio */
}

.btn-send {
  order: 2; /* Ordenar el botón "Enviar" después del botón "Generar Reporte" */
  margin-right: 10rem;
}

.background-gradient {
  background-image: linear-gradient(
    to bottom,
    #c5e8fc,
    #c5e8fc
  ); /* Color de fondo */
  background-repeat: no-repeat;
  background-size: 100% 16px; /* Ancho del borde inferior y altura (ajusta según tus necesidades) */
  background-position: 0 100%; /* Coloca el gradiente en la parte inferior */
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.label {
  display: flex;
  align-items: start;
  justify-content: start;
  justify-items: start;
  color: rgb(110, 110, 110);
}

/* Responsive styles for table */

@media screen and (max-width: 1919px) and (max-height: 1079px) {
  /* Responsive styles for smaller screens */

  /* Table styles */

  .container {
    display: flex;
    flex-direction: column; /* Stack elements vertically on smaller screens */
    align-items: center;
    justify-content: center;
    margin-left: 40vh !important; /* Reduce left margin on smaller screens */
    margin-right: 2rem !important; /* Reduce right margin on smaller screens */
    width: 70% !important; /* Full width on smaller screens */
    position: relative;
    z-index: 1;
  }

  .thLeft {
    background-color: #c5e8fc !important;
    border-top-left-radius: 10px !important;
    font-family: "Raleway", sans-serif;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
  }

  .thRight {
    background-color: #c5e8fc !important;
    border-top-right-radius: 10px !important;
    font-family: "Raleway", sans-serif;
  }

  .thTable {
    background-color: #c5e8fc !important;
    font-family: "Raleway", sans-serif;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
  }

  .tdTableRow {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    min-width: 115px;
  }

  .h3Table {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    text-align: center;
    font-family: "Raleway", sans-serif;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 7em;
    font-weight: bold;
    font-size: 32px;
  }

  .center-table {
    display: inline-table;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 60vh; /* Ajusta la altura según tu diseño */
    text-align: center;
  }

  .center-table-form {
    display: inline-table;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    text-align: center;
    height: 300px;
    width: 400px;
    margin: 16px;
  }

  .card {
    margin-top: 4rem;
  }

  .containerButtons {
    display: flex !important;
    justify-content: space-between !important;
    text-align: center !important;
    margin-left: 4.5% !important;
    margin-right: 4.5% !important;
    margin-top: 24px !important;
  }

  .addButton {
    background-color: #007bb8 !important;
    color: #ffffff !important;
    border-radius: 15px !important;
    font-family: "Raleway", sans-serif !important;
    margin-left: 16rem;
  }

  .showButton {
    background-color: #6fc287 !important;
    color: #ffffff !important;
    border-radius: 15px !important;
    font-family: "Raleway", sans-serif !important;
  }

  .btn-generate {
    order: 1; /* Ordenar el botón "Generar Reporte" al principio */
  }

  .btn-send {
    order: 2; /* Ordenar el botón "Enviar" después del botón "Generar Reporte" */
    margin-right: 10rem;
  }

  .background-gradient {
    background-image: linear-gradient(
      to bottom,
      #c5e8fc,
      #c5e8fc
    ); /* Color de fondo */
    background-repeat: no-repeat;
    background-size: 100% 16px; /* Ancho del borde inferior y altura (ajusta según tus necesidades) */
    background-position: 0 100%; /* Coloca el gradiente en la parte inferior */
  }

  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  .label {
    display: flex;
    align-items: start;
    justify-content: start;
    justify-items: start;
    color: rgb(110, 110, 110);
  }
}

/* Responsive styles for smartphonex */

@media screen and (max-width: 767px) {
  /* Estilos para pantallas más pequeñas, como iPhones */

  /* Table styles */

  .container {
    display: flex;
    flex-direction: column; /* Stack elements vertically on smaller screens */
    align-items: center;
    justify-content: center;
    margin-left: 1rem !important; /* Ajusta los márgenes según tus necesidades */
    margin-right: 1rem !important;
    width: 100% !important; /* Ocupa todo el ancho disponible */
    position: relative;
    z-index: 1;
  }

  .thLeft {
    background-color: #c5e8fc !important;
    border-top-left-radius: 10px !important;
    font-family: "Raleway", sans-serif;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
  }

  .thRight {
    background-color: #c5e8fc !important;
    border-top-right-radius: 10px !important;
    font-family: "Raleway", sans-serif;
  }

  .thTable {
    background-color: #c5e8fc !important;
    font-family: "Raleway", sans-serif;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
  }

  .tdTableRow {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    min-width: 115px;
  }

  .h3Table {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    text-align: center;
    font-family: "Raleway", sans-serif;
    margin-bottom: 2rem;
    margin-top: 3rem;
    font-weight: bold;
    font-size: 2rem;
  }

  .center-table {
    display: inline-table;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 60vh; /* Ajusta la altura según tu diseño */
    text-align: center;
  }

  .center-table-form {
    display: inline-table;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    text-align: center;
    height: 300px;
    width: 400px;
    margin: 16px;
  }

  .card {
    margin-top: 4rem;
  }

  .containerButtons {
    display: flex !important;
    justify-content: space-between !important;
    text-align: center !important;
    margin-left: 4.5% !important;
    margin-right: 4.5% !important;
    margin-top: 24px !important;
  }

  .addButton {
    background-color: #007bb8 !important;
    color: #ffffff !important;
    border-radius: 15px !important;
    font-family: "Raleway", sans-serif !important;
    margin-left: 18rem;
  }

  .showButton {
    background-color: #6fc287 !important;
    color: #ffffff !important;
    border-radius: 15px !important;
    font-family: "Raleway", sans-serif !important;
  }

  .btn-generate {
    order: 1; /* Ordenar el botón "Generar Reporte" al principio */
  }

  .btn-send {
    order: 2; /* Ordenar el botón "Enviar" después del botón "Generar Reporte" */
    margin-right: 10rem;
  }

  .background-gradient {
    background-image: linear-gradient(
      to bottom,
      #c5e8fc,
      #c5e8fc
    ); /* Color de fondo */
    background-repeat: no-repeat;
    background-size: 100% 16px; /* Ancho del borde inferior y altura (ajusta según tus necesidades) */
    background-position: 0 100%; /* Coloca el gradiente en la parte inferior */
  }

  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  .label {
    display: flex;
    align-items: start;
    justify-content: start;
    justify-items: start;
    color: rgb(110, 110, 110);
  }
}

/* Responsive styles for login */
@media screen and (width: 1280px) and (height: 832px) {
  ul {
    list-style: none;
    padding: 1rem 1rem;
    position: sticky;
    top: 0;
    width: 16rem;

    li {
      margin-bottom: 1rem;
      position: sticky;
      top: 0;
      font-size: 1.2rem;

      .main-option {
        font-weight: bold;
      }

      a {
        text-decoration: none;
        position: sticky;
        top: 0px;

        &.active {
          background-color: $gray;
          position: sticky;
          top: 0px;
        }
      }
    }
  }

  /* Styling for the main container */
  .mainContainer {
    position: absolute;
    left: 70%; /* Centro horizontalmente */
    top: 50%; /* Centro verticalmente */
    transform: translate(-50%, -50%);
    padding: 5%;
    background-color: #88cb66;
    border-radius: 6%;
    max-height: 65vh; /* En lugar de una altura fija */
    width: 30vw; /* En lugar de un ancho fijo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Styles for labels l1 and l2 */
    .l1 {
      color: #000000;
      font-weight: 500;
      font-size: 2.5vw; /* Utilizar unidades relativas */
      max-width: 100%;
      text-align: center;
      margin-bottom: 1rem;
    }

    .l2 {
      color: #000000;
      font-weight: 400;
      font-size: 1.9vw; /* Utilizar unidades relativas */
      max-width: 100%;
      text-align: center;
      margin-bottom: 1rem;
      margin-right: 1vw;
    }

    /* Styling for the login button */
    .login-button {
      border-radius: 1rem;
      background-color: rgba(251, 251, 226, 0.7);
      color: #000000;
      border: none;
      padding: 2% 10%; /* Utilizar unidades relativas */
      max-width: 100%;
      text-align: center;
      font-size: 2vw;
      cursor: pointer;
      margin-top: 5vh; /* Ajusta la distancia vertical */
      margin-right: 1vw; /* Ajusta la distancia hacia la derecha */
      margin-bottom: 1vh;
    }

    /* Styling for rounded inputs */
    .rounded-input {
      border-radius: 1rem; /* Utilizar unidades relativas */
      background-color: white;
      padding: 2%; /* Utilizar unidades relativas */
      border: 1px solid #ccc;
      max-width: 100%;
      width: 90%; /* Controla el ancho de los inputs */
      font-size: 2vw;
      margin-bottom: 1rem;
    }
  }

  /* Styling for the second container */
  .secondContainer {
    text-align: center;
  }

  .logo-login {
    margin-top: 20%; /* Ajusta según tu preferencia */
    width: 25%; /* Utilizar unidades relativas */
    max-width: 190px; /* Máximo ancho para mantener proporciones */
    height: auto; /* Para mantener proporciones */
    text-align: center;
    margin-left: 25%;

    .welcomeText {
      font-size: 2.5vw; /* Utilizar unidades relativas */
      margin-bottom: 1rem;
    }

    .underLine {
      border: 1.5px solid rgb(0, 0, 0);
      width: 80%; /* Utilizar unidades relativas */
      margin-left: auto;
      margin-right: auto;
      color: rgba(0, 0, 0, 0);
    }
  }
}
